<!-- <app-display-google-map></app-display-google-map>

AIzaSyCfAj2b7ZhU8BMujlnDodqHj_cyARd520c

<h1>hello World</h1>
<app-employee-login></app-employee-login>
<br>
<app-body [myname]="name"></app-body>

<a routerLink="/">Home</a>
<a routerLink="/about">About</a>
<a routerLink="/contact">Contact</a>
<a routerLink="/eee">eee</a>
<a routerLink="/customers">customers</a>


<router-outlet></router-outlet>
 -->


hello
<!-- <div class="container" >

  <h1>Angular Webcam Capture Image from Camera - ItSolutionStuff.com</h1>

  <div class="row">
      <div class="col-md-6" *ngIf="show">

          <webcam
              [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)"></webcam>

          <button class="btn btn-success" (click)="triggerSnapshot();">Take A Snapshot</button>
      </div>
      <div class="col-md-6" *ngIf="!show">

          <div id="results">Your captured image will appear here...</div>
          <img src="{{ captureImage }}" height="300px">

      </div>
  </div>
</div> -->
<!-- <app-new></app-new> -->

<!-- <br>
<br>
<br>
<br>
<hr>
<hr>
<hr>

<hr>

<div id="map"></div>

<div>
  <hr>sr
  <div id="dropin-container"></div>
</div>


<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/{VERSION}/adyen.js"
integrity="sha384-SGA+BK9i1sG5N4BTCgRH6EGbopUK8WG/azn/TeIHYeBEXmEaB+NT+410Z9b1ii7Z"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/{VERSION}/adyen.css"
integrity="sha384-oT6lIQpTr+nOu+yFBPn8mSMkNQID9wuEoTw8lmg2bcrFoDu/Ae8DhJVj+T5cUmsM"
crossorigin="anonymous">

<div id="component-container"></div> -->



<!-- <input type="text"> <button (click)="sendMsg()">send</button>

<div>
  <div *ngFor="let item of data">
    <h5>{{item.msg}}</h5>
  </div>
</div> -->


